* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    margin-top: 15vh;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  
  .bild {
    display: block;
    width: 100%;
    height: auto;
  }
  
  h2 {
    color: rgb(73, 57, 57);
  }
  
  .overlay {
      display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(233, 233, 233, 0.75);
    transition: 0.5s ease;
  }
  
  .container:hover .overlay {
    height: 100%;
  }